body {
  background-color: #e9cd95;
}

.mainHeading {
  text-align: center;
  margin: 30px auto 40px;
}

a {
  color: #af6119;
}

a.homepageLink {
  display: block;
  margin: 15px auto;
}

a#photosLink,
#contactLink {
  text-align: center;
  margin: 10px auto;
}

#photosLink:hover,
#contactLink:hover,
.homepageLink:hover {
  color: #2c1f0c;
}

#mailLink {
  color: rgb(202, 169, 233);
  text-transform: uppercase;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 20px;
}
